.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.hero img {
    display: none;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.hero h1 {
    margin-top: 180px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

.gradient-text {
  background: linear-gradient(267deg,#ffe389 0%, #ff8fdd 40%, #c896fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
    width: 80%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-resume {
    display: inline-block;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid #c896fb;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.887);
}

.hero-resume:hover {
    border-color: #c896fb;
    transform: scale(1.05);
    transition: 0.3s;
}

@media(max-width: 768px) {
    .hero img {
        display: block;
        border-radius: 20px;
        margin-top: 90px;
        width: 260px;
    }

    .hero h1 {
        margin-top: 10px;
        width: 90%;
        font-size: 40px;
    }

    .hero p {
        width: 60%;
        line-height: 32px;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 15px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 15px 40px;
        border-radius: 40px;
    }
}