.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 100px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 55px;
    font-weight: 600;
    background: linear-gradient(267deg,#ffe389 0%, #ff8fdd 40%, #c896fb 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
}

.about-sections {
    display: flex;
    gap: 80px;
    align-items: center;
}

.about-left img {
    border-radius: 20px;
    width: 320px;
    height: auto;
    max-width: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.609);
    object-fit: cover;
    transition: transform 0.4s ease;
}

.about-left img:hover {
    transform: scale(1.08);
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.slide-in {
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-in.show {
    opacity: 1;
    transform: translateX(0);
}

/* .about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(270deg, #ffd6b7 -5.09%, #f3e7ff 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 18px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
} */

@media (max-width: 768px) {
    .about {
        gap: 40px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 40px;
        padding: 0;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 18px;
    }

    /* .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .about-achievement p {
        text-align: center;
        font-size: 16px;
    } */
}