.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: #000;
    border-bottom: 2px solid rgb(249, 189, 248);
    z-index: 1000;
}

.navbar h1 {
    font-size: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    font-size: 18px;
}

.nav-connect {
    padding: 10px 26px;
    border-radius: 50px;
    background: linear-gradient(267deg,#ffe389 0%, #ff8fdd 40%, #c896fb 100%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.nav-connect:hover {
    transform: scale(1.04);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-open {
    display: none;
}

.nav-mob-close {
    display: none;
}

@media(max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;    
        margin: 0;       
        padding: 15px 20px; 
        background-color: #000; 
        border-bottom: 2px solid rgb(249, 189, 248);
        z-index: 1000;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 40px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 190px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: right 0.3s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 18px;
        padding-left: 60px;
        flex-direction: row;
        gap: 10px;
    }
}