@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: linear-gradient(
    135deg,                          
    rgb(7, 6, 77) 0%,              
    rgb(45, 5, 52) 50%,   
    rgba(0, 0, 0, 1) 100% 
  ); */
  background: transparent;
  background-attachment: fixed;
  color: white;
  font-family: 'outfit';
}

#root {
  height: 100%;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}